/* --------------------------------------------*/
/* BASIC SETUP */
/* --------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* --------------------------------------------*/
/* HEADER */
/* --------------------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}
.rentils-text-box {
    position: absolute;
    width: 100%;
    margin-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
@media (min-width: 0px) and (max-width: 500px){
    .main-text:before{
        content: 'Rentils';
    }
}
@media (min-width: 501px) {
    .main-text:before{
        content: 'Rentils Never was so easy keep track of your rentals.';
    }
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li {
    display: inline-block;
    margin-right: 50px;

}
.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #9c27b0;
}

/* --------------------------------------------*/
/* HEADING */
/* --------------------------------------------*/
h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 300;
}
h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/* --------------------------------------------*/
/* REUSABLE COMPONENTS */
/* --------------------------------------------*/